/* ===== RESET BÁSICO ===== */

:root {
    --bg: #eaeaea;
    --text: black;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== CONFIGURACIÓN GENERAL ===== */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg);
    line-height: 1.7;
}

/* ===== CONTENEDOR PRINCIPAL ===== */
.container {
    width: 50rem;
    /* Tamaño tipo hoja A4 */
    min-height: 70rem;
    margin: 40px auto;
    padding: 60px 70px;
    background: #ffffff;
    color: var(--text);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.back-fixed {
    top: 20px;
    left: 20px;
    background-color: #45591B;
    color: white;
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.back-fixed:hover {
    transform: translateX(-5px);
}

.botones-accesibilidad {
  position: fixed;
  top: 95%;
  right: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  z-index: 1000;
  transform: translateY(-50%);
}

.botones-accesibilidad button {
  background-color: #808c20;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: 0.3s;
}

body.modo-contraste {
  --bg: black;
  --text: black;
}


/* ===== LOGO ===== */
.logo {
    text-align: center;
    margin-bottom: 40px;
}

.logo img {
    max-width: 300px;
    max-height: 500px;
}

/* ===== TÍTULOS PRINCIPALES ===== */
.title {
    font-size: 22px;
    margin-bottom: 15px;
    margin-top: 35px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
}

/* ===== SUBTÍTULOS ===== */
h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* ===== PÁRRAFOS ===== */
p {
    text-align: justify;
    margin-bottom: 15px;
    /* font-size: 15px; */
}

/* ===== LISTAS ===== */
ul {
    margin-left: 25px;
    margin-bottom: 15px;
}

ul li {
    margin-bottom: 8px;
    /* font-size: 15px; */
}

/* ===== SEPARACIÓN ENTRE SECCIONES ===== */
article {
    margin-bottom: 30px;
}

/* ===== PIE DE PÁGINA OPCIONAL ===== */
footer {
    margin-top: 50px;
    /* font-size: 14px; */
    text-align: center;
    color: #666;
}